.flexBtn {
    display: flex;
    margin: 1rem 0;
}

.flexBtn button {
    margin: 0 1rem 0 0;
}

.recipe {
    margin: 1rem 0 0 0;
}

.recipeContainer {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: #e6e6e6;
    width: 75%;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}

.recipeBtn {
    height: 1rem;
    width: rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.title:hover {
    text-decoration: none;
}

.recipeTitle {
    width: 100px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}