/* .middleContainer {
    display: flex;
    flex-direction: column;
}

.homeCard {
    height: 10rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: #e6e6e6;
    padding: 1rem;
}

.homeHeader {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recipesHome {
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #e6e6e6;
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0 2rem;
}

.viewAll {
    display: flex;
    justify-content: center;
}
 */
