.app {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0 0 0;
}

.textarea {
    width: 40%;
    height: 100vh;
    padding: 20px;
    font-size: 1.1rem;
    outline: 1px solid black;
}

.markdown {
    width: 40%;
    height: 100vh;
    padding: 20px;
    font-size: 1.1rem;
    outline: 3px solid black;
}

.btn {
    font-size: 2rem;
}

.btn-pos {
    display: flex;
    justify-content: end;
    margin: 20px 32px 0 0;
}