.home-wrapper {
    display: flex;
    justify-content: space-between;
}

.h-left, .h-right {
    width: 50%;
}

.h-right {
    display: flex;
    flex-direction: column;
}

.recipes-home img {
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
}

.recipes-home {
    display: flex;
    flex-direction: column;
}